*{margin: 0;padding: 0;box-sizing: border-box;}
ol, ul ,dl {list-style: none;}
a {text-decoration: none;color: inherit;}


body {
    font-family: 'Titillium Web', sans-serif;
}


.main{
    height: 80vh;
    background: black;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("img/visual_bg.jpg") no-repeat center top fixed;
    background-size: cover;
    /* 
       background-cover
       : full page 만들때 유용하게 사용
     */
    text-align: center;
    margin-bottom: 70px;
}
.main h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.card_container{}
.card_container .inner{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

}
.card_container ul{
    display: flex;
    flex-wrap: wrap;
}
.card_container ul>li{
    width: 25%;
    text-align: center;
    margin-bottom: 40px;
    justify-content: space-between;
}
.card_container ul>li img{
    width: 100%;
    max-width: 296px;
}
.card_container ul>li div{}
.card_container ul>li h3{}
.card_container ul>li p{}

@media screen and (max-width:1299px){
    .card_container ul > li {
        width: 33.33333%;
    }
}
@media screen and (max-width:899px){
    .card_container ul > li {
        width: 50%;
    }
}
@media screen and (max-width:599px){
    .card_container ul > li {
        width: 100%;
    }
}