

*{margin: 0;padding: 0;}
ul {list-style: none;}

/* 
   # : 아이디 선택자
   . : 클래스 선택자
   <>: 태그 선택자
*/
/* 콘텐츠와 콘텐츠 사이에 공간을 줄때 margin */
.list1 { 
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 0px 0px 0px 0px;
    /* 
       top right bottom left 순서이며 시계방향
       직선 상의 수치가 동일할 경우 생략 가능
       margin : 100px 200px 100px 200px; = margin : 100px 200px;
       margin : 100px 200px 50px 200px = margin : 100px 200px 50px;
       margin-right : 200px; + margin-bottom : 100px;
       -> margin : 0px 200px 100px 0px
       위 방식은 margin과 padding이 동일하게 적용된다.
    */
}

.list2 { 
    width: 100px;
    height: 100px;
    background-color: orange;
    padding: 100px;
    /* 
       padding은 내부요소이며 해당 콘텐츠가 공간을 실제로 차지합니다.
       콘텐츠와 콘텐츠 사이의 여백이 절대 아닙니다.(margin)
    */
}

/* 선택자 우선권과 습관 */

.box_wrap {
    width: 500px;
    background-color: pink;
}

/* 
   css선택자 뒤에 공백은 "하위" 의 뜻을 가지고 있습니다.
*/

/* 
   margin의 특징
   1. 자식이 부모와 맞닫고 있는 공간에 여백값을 주면 부모도 함께 밀리게 됩니다.
   -> 해결방법
      1. padding으로 대체합니다.
      2. 한번 더 감싸서 새로 감싼 태그에 padding으로 여백을 부여

   2. 세로에서 margin 여백이 겹치는 현상 (가로X)
*/

.box_wrap .box1{
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin-top: 100px;
    /* padding-top: 100px; */
}
.box_wrap .box2{
    width: 200px;
    height: 200px;
    background-color: orange;
    /* margin-bottom: 100px; */
}

/* 
   margin : 0 auto; = margin : 0 auto 0 auto; 
   선택자가 가지고 있는 block속성의 영역 중 width값을 제외한 나머지 여백에 대한 좌우 비율을 균등하게 나눠 가집니다.
   block 요소에서만 사용이 가능하며, width값을 가지고 있어야합니다. -> 
   안그러면 width:100%; 이기 때문에 공간이 발생하지 않음
*/

.box_wrap2 {
    width: 100%;
    height: 200px;
    background-color: black;
    margin: 100px auto 50px;
}