*{margin:0;padding:0;box-sizing:border-box}
ol,ul,dl{list-style:none;}
a{
    text-decoration:none;
    color:#000;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

#wrap{
    width:1200px;
    margin:0 auto;
}
#header{
    height:100px;
    padding-top:30px;
}
#header h1{
    float:left;
}

#header nav{
    float:right;
}

#header nav>ul{}
#header nav>ul>li{
    width:150px;
    float:left;
    background:#6a38ff;
    text-align:center;
    padding:10px 0;
}
#header nav>ul>li>a{
    color:#fff;
}

#ad_1{
    height:300px;
    margin-bottom:30px;
}

#banner {}

#banner > article{
    border:1px solid #000;
    float:left;
}

#banner > article:nth-child(2){
    margin: 0 10px;
}

#banner .banner_1{
    width:400px;
}
#banner .banner_1 .tap{}
#banner .banner_1 .tap h4{
    background:#fff;
    color:#000;
    float:left;
    padding:10px 20px;
}
/* h4 태그 중에 "on"이라는 클래스명을 가진 선택자 */
#banner .banner_1 .tap h4.on {
    background:#000;
    color:#fff;
    
}

#banner .banner_1 .notic{}

#banner .banner_1 .notic>li{
    line-height:40px;
    text-indent:20px;;
}
#banner .banner_1 .notic>li:nth-child(odd){
    background:#000;
}

#banner .banner_1 .notic>li>a{}

#banner .banner_1 .notic>li:nth-child(odd)>a{
    color:#fff;
}

#banner .type1{
    width:390px;
}
#banner .type1 h4{
    width:120px;
    background:#000;
    color:#fff;
    padding:10px 20px;
    text-align:center;
}
#banner .type1 a{
    font-size:0;
    display:block;
}
#banner .type1 img {
    /* img , input 태그는 inline 요소인데도 불구하고
    딱 이 2개의 태그만 width & height 설정할 수 있다*/
    width:100%;
    height:160px;
}














