*{margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,dl {list-style: none;}
a {text-decoration: none;}

.clearfix::after{content: ""; display: block; clear: both;}

body{
    background:#3c3a3b;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
.inner {
    width: 1100px;
    margin: 0 auto;
}
#header{
    background: #3c3a3b ;
}
#header .inner{
    width: 1100px;
    height: 110px;
    background: #3c3a3b ;
    margin: 0 auto;
}
#header .logo{
    float: left;
    line-height: 110px;
}
#header .logo a{
    
}
#header .logo img{}

#header .menu{
}
#header .menu .inner{}
#header nav > ul{
    float: right;
}
#header nav > ul > li{
    float: left;
    line-height: 110px;
    color: white;
}
#header nav > ul > li > a{
    color: white;
    padding-right: 10px;
    font-size: 20px;
}

.bg{
    background: url(img/bg.png)no-repeat;
    text-align: center;
    margin-bottom: 40px;
}
article > img {
}

.container{
    margin-bottom: 40px;
}
.container .inner{}
.container .inner .banner{
    width: 300px;
    height: 500px;
    background:black;
    line-height: 500px;
    float: left;
}
.container .inner .main{
    background: black;
    float: right;
    padding: 20px 15px;
}
.container .inner .main > article{
    width: 750px;
    height: 140px;
    background: #3d3d3d;
    margin-bottom: 20px;
    line-height: 140px;
}
.container .inner .main > article:last-child{
    /* 
       가상선택자로 마지막이나 처음 형제의 여백을 취소할 때
       반드시 그 취소하는 방향을 정해서 취소해주시기를 권장합니다.
    */
    margin-bottom: 0;
}

#footer .inner {
    background-color: black;
    padding: 15px 0px;
    font-size: 20px;
}
