
.clearfix::after {
    content: ""; /* default : 무효화 */
    display: block;
    clear: both;
}

/* 일일이 모든태그에 속성을 주는 것 */
* {margin: 0;padding: 0; box-sizing: border-box;}
/* 상속을 이용하여 한번에 속성을 주는 것 */
html { font-size: 10px;}
body {
    font-size: 20px;
    color: white;
}

ul {
    list-style-type: none;
    width: 700px;
    /* height: 200px; */
    /* 자식이 있는 부모는 왠만하면 height 사용하지 않는게 좋습니다. */
    background-color: red;
    /* overflow: hidden; */
    /* 콘텐츠의 유동성을 위해서 */
}

ul li {
    width: 200px;
    height: 200px;
}

ul li:nth-child(1){
    background-color: green;
     float: left;
    }

ul li:nth-child(2){
    background-color: yellow;
    float: right;
}
ul li:nth-child(3){
    background-color: violet;
     float: left;
    }

    ul li:nth-child(3) a {
        color: #fff;
        text-decoration: none   ;
    }