/* reset */
* {margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,dl {list-style: none;}
a{text-decoration: none;}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* common tag End */
.inner {
     width: 1100px;
     margin: 0 auto; 
}
/* common class End */

#header {
    background-color: #3c3a3b;
}
#header .inner {
    padding: 20px 0px;
}
#header h1 {
    float: left;
    font-size: 0;
}

#header nav {
    float: right;
}
#header nav > ul{}
#header nav > ul > li{
    /* 부모인nav가 float : right 로 위치를 오른쪽으로 배치 받았기
    때문에 float : left 를 줘도 왼쪽으로 가지않고 오른쪽으로 갑니다. */
    float: left;
    margin-left: 10px;
}
#header nav > ul > li > a{
    color: #fff;
}