*{margin:0;padding:0;box-sizing:border-box}
ol,ul,dl{list-style:none;}
a{text-decoration:none;color:inherit;}

body{
    font-family: 'Titillium Web', sans-serif;
}

.main{
    height: 80vh;
    background:black;
    color:#fff;
    font-size:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background:url("img/visual_bg.jpg") no-repeat center top fixed;
    background-size:cover;
    /* background-cover */
    /* full page or one scroll page 제작할 때 주로 사용 */
    text-align:center;
    margin-bottom:70px;
}

.main h2{
    font-size:50px;
    margin-bottom:30px;
}

.card_container{}
.card_container .inner{
    max-width:1300px;
    width:100%;
    margin:0 auto;
}
.card_container ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    text-align:center;
}
.card_container ul > li{
    width:25%;
    margin-bottom:40px;
    padding: 0px 20px;
    transition: all 0.35s;
}

.card_container ul > li *{
    margin-bottom: 15px;
    font-size: 20px;
}

.card_container ul > li *:last-child{
    margin-bottom: 0;
}
/* 선택자의 길이에 따라 우선순위가 밀릴 가능성이 있다. */
.card_container ul > li img{
    width:100%;
    max-width:296px;
}
.card_container ul > li h3{
    font-size: 24px;
}


#footer{
    background: #333;
}
#footer .inner{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    color: #fff;
    padding: 10px 30px 30px;
}

#footer .ft_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#footer .ft_con .ft_logo {}

#footer .ft_con ul{
    display: flex;
}

#footer .ft_con ul>li{
    margin-left: 30px;
    font-size: 14px;
}
#footer .ft_con ul>li>a{
    transition: color 0.35s;
}
#footer .ft_con ul> li > a:hover {
    color: tomato;
}

#footer .copy{
    font-size: 12px;
    text-align: center;
}

















@media screen and (max-width:1299px) {
    .card_container ul > li{
        width:33.3333%
    }
}

@media screen and (max-width:899px) {
    .card_container ul > li{
        width:50%;
    }
    #footer .ft_con{
        flex-direction: column;
    }
    #footer .ft_logo{
        margin-bottom: 20px;
    }
    #footer .ft_con ul {
        flex-direction: column;
        text-align: center;
    }
    #footer .ft_con ul > li{
        margin-bottom: 10px;
    }
    #footer .ft_con ul > li:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width:599px) {
    .card_container ul > li{
        width:100%;
    }
}

















