*{margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,dl{list-style: none;}
a{text-decoration: none; color: inherit;}
body {font-family: 'Montserrat', sans-serif; line-height: 1; font-size: 16;}
h1,h2,h3,h4,h5,h6 {font-weight: 400; text-transform: uppercase; color: #3f51b5;}

.inner {
    width: 100%;
    max-width: 1300px;
    padding: 0px 50px; margin: 0 auto;
}

#header{
    color: #3f51b5;
    box-shadow: 0 1px 10px gray;
}
#header a{
    display: block;
}
#header .inner{
    display: flex; justify-content: space-between; align-items: center;
    padding: 30px 50px;
}

#header  .logo{
    font-size: 26px;

}

#header  .gnb{}
#header  .gnb ul{
    display: flex; justify-content: space-between;
    width: 500px;
    text-transform: uppercase;
}
#header  .gnb ul > li{
    
}
#header  .gnb ul > li > a{}

/* header END */

#visual {}
#visual img{
    display: block;
    width: 100%;
    margin-bottom: 100px;
}

/* visual END */

#academy {}
#academy .academy_tit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#academy .academy_tit h2{
    font-size: 42px;
}
#academy .academy_tit p{
    position: relative;
    padding-left: 20px;
    line-height: 2;
}

#academy .academy_tit p::before{
    content: "";
    width: 2px;
    height: 45px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* academy_tit END */

#academy .academy_promotion{}
#academy .academy_promotion ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#academy .academy_promotion ul > li{
    width: 23%;
}
#academy .academy_promotion ul > li > a{}
#academy .academy_promotion ul > li > a h3 {
    margin: 30px 0px 20px;
}
#academy .academy_promotion ul > li > a p {
    font-size: 14px;
}









