*{margin: 0;padding: 0;box-sizing: border-box;}
ol, ul,dl {list-style: none;}
a {text-decoration: none; color: inherit;}

/* inherit : 부모에게서 속성을 상속받는다. */

#header {
    background: #2d2d2d;
}
#header .inner{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: relative;
}
#header .logo a{
    display: block;
    font-size: 0;
    /* a의 불필요한 공간을 삭제 */
}
#header .logo img{}
#header nav{}
#header nav ul{
    color: #fff;
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
}
#header nav ul > li{}
#header nav ul > li:nth-child(2){
    padding: 0px 50px;
    margin: 0 50px;
    /* border-right: 1px solid gray; */
    /* border-left: 1px solid gray; */
    position: relative;
}
#header nav ul > li:nth-child(2)::before,
#header nav ul > li:nth-child(2)::after{
    content: "";
    width: 2px;
    height: 15px;
    background: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#header .inner nav ul > li:nth-child(2)::before{
    left: 0;
}
#header .inner nav ul > li:nth-child(2)::after{
    right: 0;
}
#header nav ul > li a{}
#header .hamburger{
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 21px;
    cursor: pointer;
    transition: right 0.5s;
    /* transitoin의 방향을 지정할 수도 있다. */
}
#header .hamburger span{
    position: relative;
    top: 9px;
}

#header nav .hamburger span,
#header nav .hamburger span::before,
#header nav .hamburger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
}
#header nav .hamburger span::before,
#header nav .hamburger span::after {
    content: '';
    position: absolute;
    left: 0;
}

#header nav .hamburger span::after {
    top: 9px;
}

#header nav .hamburger span::before {
    top: -9px;
}
/* 0px ~ 900px 까지 */
@media screen and (max-width:900px){
    #header .inner nav ul {
        display: none;
    }
    #header nav .hamburger {
        right: 30px;
    }
    #header .inner {
        justify-content: center;
    }
}























