*{margin: 0;padding: 0;box-sizing: border-box;}

ol,ul,dl { list-style: none;}







.visual {
    height: 452px;
    background: url("main_bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px;
}
.visual h2 {
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 60px;
    padding-top: 116px;
}
.visual p {
    line-height: 30px;
    padding-bottom: 116px;
}

.ebook_list {}
.ebook_list .inner{
    width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    /* padding & border 사용시 해당 선택자가 
    width& height 값을 스스로 가지고 있는지 체크하면 좋습니다. */
}
.ebook_list h3{
    font-size: 20px;
    color: #9d9d9d;
    font-weight: 400;
    /*
         text-transform
         none / capitalize / uppercase / lowercase / intial / inherit
         default : none
         none : 입력된 그대로 출력
         captalize : 단어의 첫번재 글자를 대문자로 바꿔서 출력
         uppercase : 모든 글자를 대문자로 바꿔서 출력
         lowercase : 모든 글자를 소문자로 바꿔서 출력
         initail : 초기화 = 기본 값으로 설정
         inherit : 상속 = 부모 요소의 상속 값을 받음
     */
    text-transform: uppercase;
    margin-bottom: 50px;
}
.ebook_list .ebooks{}
.ebook_list .ebooks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.ebook_list .ebooks ul>li{
    width: 210px;
    margin-bottom: 60px;
}
.ebook_list .ebooks ul > li div:first-child{
    margin-bottom: 10px;
    min-height: 298px;
}
.ebook_list .ebooks ul > li > p {
    font-size: 20px;
    color: #0075d8;
    margin-bottom: 10px;
    min-height: 81px;
}

.ebook_list .ebooks ul > li button {
    display: block;
    width: 100%;
    height: 36px;
    background: #fff;
    outline: none;
    border: 1px solid #0075d8;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: #0075d8;
    /* 
       button 태그의 cursor
    */
    cursor: pointer;
    border-radius: 10px;
    /* trasiton 나눠쓰기 */
    transition: background 1s, color 2s;
}
.ebook_list .ebooks ul > li button:hover {
    background: #0075d8;
    color: #fff;
}